@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#0d0a0a url('clock-image.png') no-repeat center center fixed;
    background-size: cover; /* cover for full */
    font-family: "Orbitron", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
}
